Repository supareel/template_microservice, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, maintenance, documentation, main-application, internal, logger, db-migration, docker

.github/labeler.yml:

# ----------------------------------------------------------------------- #
# ******************************* General ******************************* #
# ----------------------------------------------------------------------- #
ci:
  - .github/workflows/*
  - ci/**

maintenance:
  - ./*
  - .github/*

documentation:
  - README.md
  - ./**/README*

# ----------------------------------------------------------------------- #
# ******************************* Project ******************************* #
# ----------------------------------------------------------------------- #

# Main application
main-application:
  - cmd/**

# Internal package/feature changes
internal:
  - internal/**

# Logger
logger:
  - pkg/logger/**

# Migrations
db-migration:
  - migrations/**

# Dockerfile
docker:
  - Dockerfile

ci: create ci files
  src/internal/taskmanager/taskmanager_test.go
Labels: none

ci: create ci files
  go.mod
  go.sum
  src/internal/taskmanager/taskmanager_test.go
Labels: maintenance

fix: lint test
  ci/_internal_/test.go
  src/cmd/server/server.go
Labels: ci

fix: update build
  .github/workflows/golangci-lint.yml
  ci/_internal_/build.go
Labels: ci

ci: fix go and dagger install
  .github/workflows/golangci-lint.yml
Labels: ci

ci: fix go and dagger install
  .github/workflows/golangci-lint.yml
Labels: ci

ci: fix go and dagger install
  .github/workflows/pr-create.yml
  .github/workflows/release.yml
Labels: ci

ci: fix go and dagger install
  .github/workflows/golangci-lint.yml
Labels: ci

ci: fix go and dagger install
  .github/workflows/ci.yaml
  .github/workflows/golangci-lint.yml
Labels: ci

ci: fix go and dagger install
  .github/workflows/ci.yaml
Labels: ci

check automatic draft PR
  .github/pull_request_template.md
  .github/workflows/ci.yaml
  .github/workflows/integration.yml
  .github/workflows/pr-create.yml
  .github/workflows/release.yml
Labels: ci, maintenance

check automatic draft PR
  .github/workflows/auto-pr.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/pr-create.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/auto-pr.yml
  .github/workflows/pr-create.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

fix: permission issue in auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

ci: remove confict with auto-pr and pr-create
  .github/workflows/pr-create.yml
Labels: ci

ci: add different action for auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

ci: add different action for auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

ci: add different action for auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

ci: add different action for auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

ci: add different action for auto-pr
  .github/workflows/auto-pr.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/ci.yaml
  .github/workflows/labeler.yml
  src/config/env.go
Labels: ci

ci: add permission to labeler
  .github/workflows/ci.yaml
Labels: ci

ci: add permission to labeler
  .github/workflows/ci.yaml
Labels: ci

ci: add permission to labeler
  .github/workflows/labeler.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/auto-pr.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/auto-pr.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/labeler.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/labeler.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/labeler.yml
Labels: ci

ci: add permission to labeler
  .github/workflows/labeler.yml
Labels: ci

ci: add permission to labeler
  ci/main.go
Labels: ci

ci: add permission to labeler
  .github/workflows/auto-pr.yml
Labels: ci
